UTStutor/web/WEB-INF/wsdl/localhost_8080/UTStutor/soapService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://soap.wsd.uts/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://soap.wsd.uts/" name="soapService">
<types>
<xsd:schema>
<xsd:import namespace="http://soap.wsd.uts/" schemaLocation="http://localhost:8080/UTStutor/soapService?xsd=1"/>
</xsd:schema>
</types>
<message name="fetchBooking">
<part name="parameters" element="tns:fetchBooking"/>
</message>
<message name="fetchBookingResponse">
<part name="parameters" element="tns:fetchBookingResponse"/>
</message>
<message name="createBooking">
<part name="parameters" element="tns:createBooking"/>
</message>
<message name="createBookingResponse">
<part name="parameters" element="tns:createBookingResponse"/>
</message>
<message name="cancelAccount">
<part name="parameters" element="tns:cancelAccount"/>
</message>
<message name="cancelAccountResponse">
<part name="parameters" element="tns:cancelAccountResponse"/>
</message>
<message name="editInformation">
<part name="parameters" element="tns:editInformation"/>
</message>
<message name="editInformationResponse">
<part name="parameters" element="tns:editInformationResponse"/>
</message>
<message name="Login">
<part name="parameters" element="tns:Login"/>
</message>
<message name="LoginResponse">
<part name="parameters" element="tns:LoginResponse"/>
</message>
<message name="completeBooking">
<part name="parameters" element="tns:completeBooking"/>
</message>
<message name="completeBookingResponse">
<part name="parameters" element="tns:completeBookingResponse"/>
</message>
<message name="hello">
<part name="parameters" element="tns:hello"/>
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse"/>
</message>
<message name="cancelBooking">
<part name="parameters" element="tns:cancelBooking"/>
</message>
<message name="cancelBookingResponse">
<part name="parameters" element="tns:cancelBookingResponse"/>
</message>
<message name="Logout">
<part name="parameters" element="tns:Logout"/>
</message>
<message name="LogoutResponse">
<part name="parameters" element="tns:LogoutResponse"/>
</message>
<portType name="soapService">
<operation name="fetchBooking">
<input wsam:Action="http://soap.wsd.uts/soapService/fetchBookingRequest" message="tns:fetchBooking"/>
<output wsam:Action="http://soap.wsd.uts/soapService/fetchBookingResponse" message="tns:fetchBookingResponse"/>
</operation>
<operation name="createBooking">
<input wsam:Action="http://soap.wsd.uts/soapService/createBookingRequest" message="tns:createBooking"/>
<output wsam:Action="http://soap.wsd.uts/soapService/createBookingResponse" message="tns:createBookingResponse"/>
</operation>
<operation name="cancelAccount">
<input wsam:Action="http://soap.wsd.uts/soapService/cancelAccountRequest" message="tns:cancelAccount"/>
<output wsam:Action="http://soap.wsd.uts/soapService/cancelAccountResponse" message="tns:cancelAccountResponse"/>
</operation>
<operation name="editInformation">
<input wsam:Action="http://soap.wsd.uts/soapService/editInformationRequest" message="tns:editInformation"/>
<output wsam:Action="http://soap.wsd.uts/soapService/editInformationResponse" message="tns:editInformationResponse"/>
</operation>
<operation name="Login">
<input wsam:Action="http://soap.wsd.uts/soapService/LoginRequest" message="tns:Login"/>
<output wsam:Action="http://soap.wsd.uts/soapService/LoginResponse" message="tns:LoginResponse"/>
</operation>
<operation name="completeBooking">
<input wsam:Action="http://soap.wsd.uts/soapService/completeBookingRequest" message="tns:completeBooking"/>
<output wsam:Action="http://soap.wsd.uts/soapService/completeBookingResponse" message="tns:completeBookingResponse"/>
</operation>
<operation name="hello">
<input wsam:Action="http://soap.wsd.uts/soapService/helloRequest" message="tns:hello"/>
<output wsam:Action="http://soap.wsd.uts/soapService/helloResponse" message="tns:helloResponse"/>
</operation>
<operation name="cancelBooking">
<input wsam:Action="http://soap.wsd.uts/soapService/cancelBookingRequest" message="tns:cancelBooking"/>
<output wsam:Action="http://soap.wsd.uts/soapService/cancelBookingResponse" message="tns:cancelBookingResponse"/>
</operation>
<operation name="Logout">
<input wsam:Action="http://soap.wsd.uts/soapService/LogoutRequest" message="tns:Logout"/>
<output wsam:Action="http://soap.wsd.uts/soapService/LogoutResponse" message="tns:LogoutResponse"/>
</operation>
</portType>
<binding name="soapServicePortBinding" type="tns:soapService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="fetchBooking">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="createBooking">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="cancelAccount">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="editInformation">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Login">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="completeBooking">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="hello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="cancelBooking">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Logout">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="soapService">
<port name="soapServicePort" binding="tns:soapServicePortBinding">
<soap:address location="http://localhost:8080/UTStutor/soapService"/>
</port>
</service>
</definitions>